<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Messages</h1>
  </div>
  <div class="panel-body">
    <%= render 'shared/search_form' %>
  </div>
  <div class="list-group messages-wraper">
    <div id="messages">
      <%= render @messages || no_records('messages') %>
    </div>
    <div class="list-group-item pagination">
      <%= render partial: 'shared/next_page_link', locals: { objects: @messages }%>
    </div>
  </div>
</div>
